{% extends 'home/index.html' %}

{% block titulo %}
    <title>Estudiantes</title>
{% endblock titulo %}

{% block tittle %}
<div class="container">
    <h1>Detalles de estudiante </h1>
</div>
    
{% endblock tittle %}

{% block content-left %}
    <ul class="list-group">
       
        <li class="list-group-item list-group-item-info"><strong>Nombre:</strong>  {{object.nombre}} </li>
        <li class="list-group-item list-group-item-info"> Apellido: {{object.apellido}}  </li>
        <li class="list-group-item list-group-item-info"> Fecha de Nacimiento: {{object.nacimiento}} </li>
        

    </ul>
    
{% endblock content-left %}

    
{% block content-right %}
<a href="{% url 'estudiantes:estudiantes_update' estudiante.id %}"><button class="btn btn-warning">Editar<i class="bi bi-pencil-square"></i></button></a>
<a href="{% url 'estudiantes:estudiantes_delete' estudiante.id %}"><button class="btn btn-danger">Eliminar<i class="bi bi-trash-fill"></i></button></a>
<div class="p-3" > <a href="{% url 'estudiantes:estudiantes_list' %}"><button class="btn btn-secondary">Volver <i class="bi bi-arrow-left-square-fill"></i></button></a></div>
    
{% endblock content-right %}