{% extends 'home/index.html' %}

{% block titulo %}
    <title>Estudiantes</title>
{% endblock titulo %}

{% block tittle %}
<div class="container">
    <h1>Eliminar estudiante </h1>
</div>
    
{% endblock tittle %}

{% block content-left %}
  <p> esta seguro que desea eliminar {{object.nombre}} {{object.apellido}}?</p>
  <form action="" method="post">
    <div class="mb-3">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-danger" >Eliminar</button>
    </div>
</form>
{% endblock content-left %}

    
{% block content-right %}
    <a href="{% url 'estudiantes:estudiantes_list' %}"><button class="btn btn-secondary">Volver <i class="bi bi-arrow-left-square-fill"></i></button></a>
{% endblock content-right %}