{% extends 'home/index.html' %}

{% block titulo %}
    <title>Estudiantes</title>
{% endblock titulo %}

{% block tittle %}
<div class="container">
    <h1>Listado de estudiantes </h1>
</div>
    
{% endblock tittle %}

{% block content-left %}
    <ul class="list-group">
        {% for estudiante in estudiantes %}
        <li class="list-group-item list-group-item-info"> {{estudiante.nombre}}  {{estudiante.apellido}}</li>
    {% endfor %}

    </ul>
    
{% endblock content-left %}

{% block content-right %}
    <a href="{% url 'estudiantes:crear' %}">Agregar estudiante</a>
{% endblock content-right %}